<div ng-show="!me">

	<h2>Log in to start playing</h2>

	<form class="pure-form pure-form-aligned" name="login" id="login">
    <fieldset>
        <div class="pure-control-group">
            <label for="email">Email</label>
            <input id="email" type="email" placeholder="Type your email" required>
        </div>

				<div class="pure-control-group">
						<label for="password">Password</label>
						<input id="password" type="password" placeholder="Your super secret password" required>
				</div>

        <div class="pure-controls">
            <button type="submit" class="pure-button">Log in</button>
        </div>
    </fieldset>
</form>
</div>
