<div class="pure-menu pure-menu-open pure-menu-horizontal" ng-controller="MenuCtrl">
    <ul>
        <li><a ng-href="/"><i class="fa fa-home"></i> Home</a></li>
        <li><a ng-show="me" ng-href="#/buildings"><i class="fa fa-building-o"></i> Buildings</a></li>
        <li><a ng-show="me" ng-href="#/thugs"><i class="fa fa-group"></i> Thugs</a></li>
        <li>
        	Hello {{rootScope.me.name}}! <i class="fa fa-smile-o"></i>        	
        </li>
    </ul>

    <ng-include src="'/views/materials.html'"></ng-include>

</div>
