@import (inline) "pure-mine.css";

@import (inline) "font-awesome.min.css";

/*-----------------------------------------------------------------------------------*/
/* Variables */
/*-----------------------------------------------------------------------------------*/

@main: #c0392b;
@main-soft: #e74c3c;
/*-----------------------------------------------------------------------------------*/
/* Functions */
/*-----------------------------------------------------------------------------------*/


.transition(@transition){
  -webkit-transition: @transition;
  transition: @transition;
}

/*-----------------------------------------------------------------------------------*/
/* General */
/*-----------------------------------------------------------------------------------*/

html{
	font-size:16px;
}

body{	
	font-family: 'Open Sans', sans-serif;
	background: @main-soft;
	padding: 1em;
	font-size: 1em;
}

*{
	color: white;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
}

div{
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;   
	box-sizing: border-box;     
}

/*-----------------------------------------------------------------------------------*/
/* Others */
/*-----------------------------------------------------------------------------------*/

header{
	text-align: center;
}

#content{
	max-width: 900px;
	background-color: @main;	
	padding: 1.5em;
	margin: 0 auto;

}

#actual-content{
	margin-top: 1em;
}

footer{
	text-align: center;
	padding: 1em 0;
}

#materials{

	//margin-top: 1em;
	background: @main-soft;
	padding: 0.5em;

	div{
		display: inline-block;
		margin-right: 1em;
	}

}

.pure-menu{

	ul{
		width: 100%;
	}

	li{

		color: @main;

		a{
			.transition(all 0.2s linear);	
		}

		&:last-child{
			float: right;
			padding: 0.5em;

			select{
				margin-left: 0.5em;
			}
		}
	}
	

	.fa{

		color: @main;
		margin-right: 0.5em;
	}

	input[type="button"]{
		color: @main;
	}
}


#buildings{
	span{
		cursor: pointer;
		margin-left: 1em;

		.transition(all 0.2s linear);

		&:hover{
			padding-left: 0.5em;
		}
	}
}